<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">Nombre: </label>
            <input type="text" name="" class="form-control" [(ngModel)] = formproductos.nombre>
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <label for="">Cantidad: </label>
            <input type="text" name="" class="form-control" [(ngModel)] = formproductos.cantidad>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">Precio: </label>
            <input type="text" name="" class="form-control" [(ngModel)] = formproductos.precio>
        </div>
    </div>

    <div class="col-6">
        <div class="form-group">
            <label for="">Categoria: </label>
            <select name="" id="" class="form-control" [(ngModel)] = formproductos.categoria>
                <option value="">Selecione una option</option>
                <option value="Granos">Granos</option>
                <option value="Lacteos">Lacteos</option>
            </select>
        </div>
    </div>
</div>

<div class="row">
    <button (click)="guardar()" class="btn btn-success" type="button">Guardar</button>
</div>

<div class="row">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Categoria</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productos">
                    <td>{{item.nombre}}</td>
                    <td>{{item.cantidad}}</td>
                    <td>{{item.precio}}</td>
                    <td>{{item.categoria}}</td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
